body {
    background-color: gray;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.signWrapper {
     position:absolute;
     top:50%;
     transform: translate(0, -50%);
     background-color: white;
     width: 500px;
     height: 700px;
     border-radius: 16px;
     text-align: center;
}

.signWrapper h1 {
    margin: 100px 0 50px 0;
}

.signForm {
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: column; /*정렬방향을 가로에서 세로로 바꿈*/
    align-items: center;
    margin-bottom: 20px;
    gap: 15px 0; /*flex쓰면 사용가능 -> 사이사이를 15px만큼 떨어지게 만듦*/
}

.signButton {
    padding: 0;
    border-radius: 8px;
    width: 400px;
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
    color: white;
    font-size:20px;
    border: 1px solid #fff;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
       /* rgba(2, 0, 36, 1) 0%,a까지 하면 투명도 조절*/
        rgba(167, 167, 255, 1) 0%,
        rgba(0, 179, 215, 1) 100%
    );
}

.signInput{
    font-size: 20px;
    width:400px;
    height: 50px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgb(199,199,199);
    outline: none;
    transition: 0.5 ease-out;
}

.signInput:focus {
    border-bottom: 1px solid rgba(167,167,255,1);
}
